<div class="search-div">
  <button mat-raised-button (click)="createProject()">
    <mat-icon>add</mat-icon>
    Create
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="relatorios">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Reports</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button class="invisible-button" *ngFor="let rel of element.relatorios">{{rel['name'] + ' ' + rel['complexRelatorioId']}}</button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="auditor">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Auditor</mat-header-cell>
      <mat-cell *matCellDef="let element">{{flatten(element.auditor, 'name')}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="reviewer">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Reviewer</mat-header-cell>
      <mat-cell *matCellDef="let element">{{flatten(element.reviewer, 'name')}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="projectManager">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Project Manager</mat-header-cell>
      <mat-cell *matCellDef="let element">{{flatten(element.projectManager, 'name')}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="client">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Client</mat-header-cell>
      <mat-cell *matCellDef="let element">{{flatten(element.client, 'name')}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="clientEmail">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Client Email</mat-header-cell>
      <mat-cell *matCellDef="let element">{{flatten(element.client, 'email')}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row;let i = index;let element">
        <button mat-icon-button (click)="onEdit(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteProject(element.id)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>


