<div class="search-div">
  <button mat-raised-button (click)="createProject()">
    <mat-icon>add</mat-icon>
    Create
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData" matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <!--        <button class="invisible-button" (dblclick)="openProjectRelatorios(element.id)">-->
        {{element.name}}
        <!--        </button>-->
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="relatorios">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Reports</mat-header-cell>
      <mat-cell *matCellDef="let element;let row">
        <button class="invisible-button" (dblclick)="openInEditor(rel['complexRelatorioId'])"
                *ngFor="let rel of element.relatorios">{{rel['name']}}</button>
        <button mat-icon-button (click)="createRelatorio(row)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="auditor">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Auditor</mat-header-cell>
      <mat-cell *matCellDef="let element"><a *ngFor="let aud of element.auditor">{{aud.name +','}}</a></mat-cell>
    </ng-container>
    <ng-container matColumnDef="reviewer">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Reviewer</mat-header-cell>
      <mat-cell *matCellDef="let element"><a *ngFor="let rev of element.reviewer">{{rev.name + ','}}</a></mat-cell>
    </ng-container>
    <ng-container matColumnDef="projectManager">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Project Manager</mat-header-cell>
      <mat-cell *matCellDef="let element"><a *ngFor="let pm of element.projectManager">{{pm.name + ','}}</a></mat-cell>
    </ng-container>
    <ng-container matColumnDef="client">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Client</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.client[0]['name']}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="clientEmail">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Client Email</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.client[0]['email']}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row;let i = index;let element">
        <button mat-icon-button (click)="updateProject(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteProject(element.id)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>


