<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <a mat-button [routerLink]="'/'" class="logo">Report Repository</a>
    <div>
      <a mat-button [routerLink]="'/editor'"> Report Editor </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <!--        <mat-nav-list>-->
    <!--            <a mat-list-item *ngFor="let issue of issues" (click)="printIssue(issue)">{{issue.title}}</a>-->
    <!--            <a mat-list-item (click)="sidenav.toggle()" mat-list-item>Close</a>-->
    <!--        </mat-nav-list>-->


    <div class="search-div">
      <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="listData" matSort>
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.title}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row;let i = index;let element">
            <button mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" [pageSize]="10" showFirstLastButtons></mat-paginator>
    </div>


  </mat-sidenav>
  <mat-sidenav-content>
    <button type="button">Add</button>
    <!--    <section class="sheet" *ngFor="let sec of complexRelatorio">{{sec}}</section>-->
    <section #sRef class="sheet" #focusPage>
      <div style="position:absolute;right:0; bottom:0;width: 40%; text-align: right;padding: 15%">
        <h1>{{complexRelatorio["companyLogo"]}}</h1>
        <h1 style="word-wrap: normal;">{{complexRelatorio["reportTitle"]}}</h1>
        Prepared by {{complexRelatorio.companyLogo}} for {{complexRelatorio["targetCompany"]}}<br>
        {{complexRelatorio["classification"]}}<br>
        {{complexRelatorio["version"]}}<br>
        {{complexRelatorio["remarks"]}}<br>
        {{complexRelatorio["date"]}}<br>
        <!--        <div class="myPageBreak"></div>-->
        <!--        <mat-divider></mat-divider>-->


        <!--                <div (dblclick)="onDblClick()" #editorDiv>-->
        <!--                    <form *ngIf="show" [formGroup]="editorForm" (ngSubmit)="onSubmit()">-->
        <!--                        <div class="form-group">-->
        <!--                            <label for="editor">-->
        <!--                            </label>-->
        <!--                            <quill-editor [style]="editorStyle" formControlName="editor" (onContentChanged)="pageGrowth(focusPage)">-->
        <!--                            </quill-editor>-->
        <!--                        </div>-->
        <!--                        <button mat-button color="blue">Submit</button>-->
        <!--                    </form>-->
        <!--                    <p *ngIf="!show" [innerHTML]="editorContent" id="print-section"></p>-->
        <!--                </div>-->
      </div>
    </section>
    <section class="sheet">
      Contents //TODO
    </section>
    <section class="sheet">
      <div>
        <p style="float: left; width: 34%; text-align: left;">{{complexRelatorio.companyLogo}}</p>
        <p style="float: left; width: 33%; text-align: center;">{{complexRelatorio.classification}}</p>
        <p style="float: left; width: 33%; text-align: right;">{{complexRelatorio.targetCompany}}</p>
      </div>

      <mat-divider style="clear:both"></mat-divider>
      <h1>1 Executive Summary</h1>
      <p>{{complexRelatorio.executiveSummary.summary}}</p>
      <ul>
        <li *ngFor="let rec of complexRelatorio.executiveSummary.recommendations"> {{rec}}</li>
      </ul>


    </section>
    <section class="sheet">
      <h1>2 Introduction</h1>
      <h3>2.1 Document Information</h3>
      <p>{{complexRelatorio.introduction.documentInformation}}</p>
      <h4>Responsibility Statement</h4>
      <p>{{complexRelatorio.introduction.responsibilityStatement}}</p>
      <h4>Classification</h4>
      <p>{{complexRelatorio.introduction.classification}}</p>
      <h4>Document Owner</h4>
      <p>{{complexRelatorio.introduction.documentOwner}}</p>
      <h4>Authors and Reviewers</h4>
      <table style="width: 100%">
        <tr>
          <th></th>
          <th>Name</th>
        </tr>
        <tr>
          <th>Author(s)</th>
          <td>{{complexRelatorio.introduction.authorsAndReviewers.authors}}</td>
        </tr>
        <tr>
          <th>Approver(s)</th>
          <td>{{complexRelatorio.introduction.authorsAndReviewers.approvers}}</td>
        </tr>
        <tr>
          <th>Reviewer(s)</th>
          <td>{{complexRelatorio.introduction.authorsAndReviewers.reviewers}}</td>
        </tr>
      </table>
    </section>
    <section class="sheet">
      <h4>Document Management</h4>
      <table style="width: 100%">
        <tr>
          <th>Version</th>
          <th>Name</th>
          <th>Editor</th>
          <th>Remarks</th>
        </tr>
        <tr *ngFor="let ver of complexRelatorio.introduction.documentManagement">
          <td>{{ver.version}}</td>
          <td>{{ver.date}}</td>
          <td>{{ver.editor}}</td>
          <td>{{ver.remarks}}</td>
        </tr>
      </table>
    </section>
    <section class="sheet">
      <h3>2.2 Document Structure</h3>
      <p>{{complexRelatorio.introduction.documentStructure.sectionsIntro}}</p>
      <ul>
        <li *ngFor="let sec of complexRelatorio.introduction.documentStructure.sections"> {{sec}}</li>
      </ul>
      <p>{{complexRelatorio.introduction.documentStructure.appendicesIntro}}</p>
      <ul>
        <li *ngFor="let app of complexRelatorio.introduction.documentStructure.appendices"> {{app}}</li>
      </ul>
    </section>

    <section class="sheet">
      <h3>2.3 Disclaimer</h3>
      <p *ngFor="let par of complexRelatorio.introduction.disclaimer"> {{par}} </p>
    </section>

    <section class="sheet">
      <h1>3 Assessment Information</h1>
      <h3>3.1 Assessment Scope</h3>
      <table style="width: 100%">
        <tr>
          <th>Execution period</th>
          <td>{{complexRelatorio.assessmentInformation.assessmentScope.executionPeriod}}</td>
        </tr>
        <tr>
          <th>Asset Name(s)</th>
          <td>{{complexRelatorio.assessmentInformation.assessmentScope.assetNames}}</td>
        </tr>
        <tr>
          <th>Asset(s) Description</th>
          <td>{{complexRelatorio.assessmentInformation.assessmentScope.assetsDescription}}</td>
        </tr>
        <tr>
          <th>Asset Address(es)/URL(s)</th>
          <td>{{complexRelatorio.assessmentInformation.assessmentScope.assetAddresses}}</td>
        </tr>
      </table>
      <h3>3.2 Organizational and Technical Contacts</h3>
      <table style="width: 100%">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Contact</th>
        </tr>
        <tr *ngFor="let cont of complexRelatorio.assessmentInformation.organizationalAndTechnicalContacts">
          <th>{{cont.role}}</th>
          <td>{{cont.name}}</td>
          <td>{{cont.contact}}</td>
        </tr>
      </table>
    </section>
    <section class="sheet">
      <h3>3 Contraints</h3>
      <p>{{complexRelatorio.assessmentInformation.constraints}}</p>
    </section>
    <section class="sheet">
      <h3>3.4 Procedures After the Assessment</h3>
      {{complexRelatorio.assessmentInformation.proceduresAfterTheAssessment}}
    </section>
    <section class="sheet">
      <h1>4 Summary of Assessment Results</h1>
      <p *ngFor="let intro of complexRelatorio.summaryOfAssessmentResults.staticInformation.intro" >{{intro}}</p>
      <h3>Critical</h3>
      <p>{{complexRelatorio.summaryOfAssessmentResults.staticInformation.critical}}</p>
      <h3>High</h3>
      <p>{{complexRelatorio.summaryOfAssessmentResults.staticInformation.high}}</p>
      <h3>Moderate</h3>
      <p>{{complexRelatorio.summaryOfAssessmentResults.staticInformation.moderate}}</p>
      <h3>Low</h3>
      <p>{{complexRelatorio.summaryOfAssessmentResults.staticInformation.low}}</p>
      <h3>Minor</h3>
      <p>{{complexRelatorio.summaryOfAssessmentResults.staticInformation.minor}}</p>
    </section>
    <section class="sheet">
      <h3>CVSS 3.0</h3>
      <p>{{complexRelatorio.summaryOfAssessmentResults.staticInformation.cvss3}}</p>
      <h3>CVSS 3.3 Metrics</h3>
      <h4>Attack Vector (AV)</h4>
      <p>{{complexRelatorio.summaryOfAssessmentResults.staticInformation.cvss3Metrics.attackVector.intro}}</p>
    </section>
    <section class="sheet" *ngFor="let metric of objectKeys(complexRelatorio.summaryOfAssessmentResults.staticInformation.cvss3Metrics)">
      <table style="width: 100%">
        <tr *ngFor="let vari of subset(complexRelatorio.summaryOfAssessmentResults.staticInformation.cvss3Metrics[metric])">
          <th>{{capitalizeAndInitials(vari.toString())}}</th>
          <td>{{complexRelatorio.summaryOfAssessmentResults.staticInformation.cvss3Metrics[metric][vari]}}</td>
        </tr>
      </table>
    </section>
    <section class="sheet"></section>
    <section class="sheet"></section>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
