// @import "paper-css/paper.css";

// @page {
// 	size: auto;
// 	margin: 0mm;
// 	size: A4;
// }

body {
  counter-reset: page;
}

app-footer::after {
  counter-increment: page;
  content: "Page " counter(page);
}

.sheet {
  width: 210mm;
  height: 296mm;
  overflow: visible;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: white;
  box-shadow: 0 .5mm 2mm rgba(0, 0, 0, .3);
  margin: 0mm auto;
  padding: 10mm;
}

@media screen {
  .myPageBreak {
    margin: 10px 0 0 0;
    padding: 10px 0;
    border-top: 1px dotted #c5c5c5;
  }
}

@media print {
  * {
    box-shadow: none !important;
    text-shadow: none !important;
  }
  .sideNav,
  .toolBar {
    display: none;
  }
  .myPageBreak {
    page-break-before: always;
    padding: 0;
    margin: 0;
    border: none;
  }
  .hideReview{
    display: none;
  }
}

p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

section {
  color: black;
}

.footerDiv {
  position: absolute;
  bottom: 0;
  width: 190mm;
}

.bottomRightCover {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
  text-align: right;
  padding: 15%
}

.criticalSeverityVulnerabilities{
  border-top-color: red;
}.highSeverityVulnerabilities{
  border-top-color: orange;
}.moderateSeverityVulnerabilities{
  border-top-color: yellow;
}.lowSeverityVulnerabilities{
  border-top-color: green;
}.minorSeverityVulnerabilities{
  border-top-color: gray;
}



