<form [formGroup]="projectFormService.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controllers-container">
<!--        <input type="hidden" formControlName="$key">-->
        <mat-form-field>
          <input formControlName="name" matInput placeholder="Name*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="client" placeholder="Client">
            <mat-option>
              <mat-icon>add</mat-icon>
              New Client
            </mat-option>
            <ng-container *ngFor="let client of formOptionsService.clientsArray">
              <mat-option value="{{client.id}}">{{client.name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="projectManager" placeholder="Project Manager">
            <mat-option>
              <mat-icon>add</mat-icon>
              New User
            </mat-option>
            <ng-container *ngFor="let user of formOptionsService.usersArray">
              <mat-option value="{{user.id}}">{{user.name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>

      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controllers-container">
        <mat-form-field>
          <mat-select formControlName="auditor" placeholder="Auditor">
            <mat-option>
              <mat-icon>add</mat-icon>
              New User
            </mat-option>
            <ng-container *ngFor="let user of formOptionsService.usersArray">
              <mat-option value="{{user.id}}">{{user.name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="reviewer" placeholder="Reviewer">
            <mat-option>
              <mat-icon>add</mat-icon>
              New User
            </mat-option>
            <ng-container *ngFor="let user of formOptionsService.usersArray">
              <mat-option value="{{user.id}}">{{user.name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <!--<mat-form-field>
          <input matInput [matDatepicker]=" picker" placeholder="Hire Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          &lt;!&ndash; <button matSuffix [matDatepickerToggle]="picker"></button> &ndash;&gt;
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>-->
        <!--<div class="add-bottom-padding">
          <mat-checkbox formControlName="isPermanent">Permanent Employee</mat-checkbox>
        </div>-->
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit"
                  [disabled]="projectFormService.form.invalid">Submit
          </button>
          <button mat-raised-button color="warn">Clear</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
