/* You can add global styles to this file, and also import other style files */
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";
// @import "paper-css/paper.css";

body {
	margin: 0;
}

a.logo {
	font-size: 22px;
}

.mat-button.mat-blue {
	color: white;
	background-color: #337ab7;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
